#Mac temporary files
.DS_Store

## Ignore Atmel Studio temporary files and build results
# https://www.microchip.com/mplab/avr-support/atmel-studio-7

# Atmel Studio is powered by an older version of Visual Studio,
# so most of the project and solution files are the same as VS files,
# only prefixed by an `at`.

#Build Directories
[Dd]ebug/
[Rr]elease/

#Build Results
*.o
*.d
*.eep
*.elf
*.hex
*.map
*.srec

#User Specific Files
*.atsuo
c_cpp_properties.json
settings.json
/atmega328pb_timers/atmega328pb_timers/atmega328pb_timers.X/build/
/atmega328pb_timers/atmega328pb_timers/atmega328pb_timers.X/dist/
/atmega328pb_pwm/atmega328pb_pwm/atmega328pb_pwm.X/dist/
/atmega328pb_pwm/atmega328pb_pwm/atmega328pb_pwm.X/build/
/atmega328pb_pulseWidthMeas/atmega328pb_pulseWidthMeas/atmega328pb_pulseWidthMeas.X/dist/
/atmega328pb_pulseWidthMeas/atmega328pb_pulseWidthMeas/atmega328pb_pulseWidthMeas.X/build/
/atmega328pb_interrupts/atmega328pb_interrupts/atmega328pb_interrupts.X/dist/
/atmega328pb_interrupts/atmega328pb_interrupts/atmega328pb_interrupts.X/build/